@import "tailwindcss";

.nav-underline {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #3E1492;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 2px;
  transition: transform 0.35s cubic-bezier(0.4,0,0.2,1);
}
.group:hover .nav-underline {
  transform: scaleX(1);
}

.Hero{
  background-image: url("../public//Background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 835px;
  width: 100%;
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

}
